/* Login Page Styling */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1700809888987-cf2b29ecbd2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.login-box {
  width: 400px;
  padding: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* Transparent black */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.login-logo {
  width: 80px;
  margin-bottom: 10px;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

.ant-form-item-label > label {
  color: #fff;
}

.ant-input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

.ant-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.ant-input-password {
  background: rgba(255, 255, 255, 0.1);
}

.ant-input-password input {
  background: transparent;
  color: #fff;
}

.login-btn {
  width: 100%;
  background: #0073aa;
  border: none;
  font-size: 16px;
}

.login-btn:hover {
  background: #005f8c;
}

/* Login.css */
.ant-form-item-label label {
  color: white !important;
}
